@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "./font-viewer.scss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}
